body {
  background: #111;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #ff5722;
}

a:hover, a:active, a:focus {
  color: #ccc;
  outline: none;
  text-decoration: none;
}

p {
  margin: 0 0 30px 0;
  font-family: 'Noto Sans', sans-serif;
}


h1,h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding:0;
}

/* Preloader */
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #222;
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #222;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #ff5722;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}


#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  margin-right: 20px;
  padding:0 0 0 0;
  height: 71px;
  width: 71px;
  margin-top: -20px;
  opacity: 1;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 50px;
    max-width: 50px;
    margin-top: 0;
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 0.5);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero img{
  max-width: 100%;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


#hero:before {
  content: "";
  background: #222;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0.4);
}

#hero h1 {
  margin: 60px 0 5px 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color:#ff5722;
}

#hero h3{
 color: #b3b0b0;
 font-style: normal;
 margin-bottom:80px;
 font-size:26px ;
}


@media (max-width: 768px) {
  #hero h1 {
    font-size: 42px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 35px;
  font-size: 22px;
  font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.carousel-indicators{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  z-index:15;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
  justify-content:center;
  padding-left:0;
  margin-right:15%;
  margin-left:15%;
  list-style:none
}

.carousel-indicators .active{
  opacity: 1;
}

#hero .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#hero .carousel-fade .carousel-inner .carousel-item,
#hero .carousel-fade .carousel-inner .active.carousel-item-left,
#hero .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-fade .carousel-inner .active,
#hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.4s;
}

#hero .carousel-fade .carousel-inner .carousel-item-next,
#hero .carousel-fade .carousel-inner .carousel-item-prev,
#hero .carousel-fade .carousel-inner .active.carousel-item-left,
#hero .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.5s opacity;
}

@media screen and (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {

  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #ff5722;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #222;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #ff5722;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 30px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #ff5722;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 200px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #ff7300da;
  font-size: 22px;
  overflow: hidden;
  padding: 10px 22px 20px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: rgb(204, 202, 201);
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff5722;
}

#mobile-nav ul .menu-item-active {
  color: #999;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-header .section-description {
  font-size: 24px;
  text-align: center;
  padding-bottom: 24px;
  color:rgba(255,255,255,0.9);
}

/* About Us Section
--------------------------------*/
#about {
  background-image: url(../img/about-bg.jpg);
  padding: 80px 0;
  image-orientation: 90deg;
  background-size: cover;
}

#about .about-container .background {
  backface-visibility: visible;
  min-height: 300px;
  background: url(../img/about-img.jpg);
  margin-bottom: 50px;
}

#about .about-container .title {
  color: #ff5722;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  text-align: center;
  line-height: 32px;
  font-size: 17px;
  margin:0 20px 0 20px;
  color: rgba(255,255,255,0.6);
}

#about .about-container p:last-child {
  margin-bottom: 0;
}



/* Events/Activities Section
----------------------------*/
#events {
  background: #111;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#events .box {
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 10px 10px 10px;
  margin-top: 60px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #e6e6e6;
  height: 280px;
  position: relative;
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
}

#events .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 3px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #444;
}

#events .icon a {
  display: inline-block;
}

#events .icon i {
  color: #ff5722;
  font-size: 24px;
}

#events .box:hover .icon {
  background:#fff;
  border: 4px solid #222;
}

/*---
#events .box:hover .icon i {
  color: #ff5722;
}

#events .box:hover .icon a {
  color: #ff5722;
}

------*/

#events .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#events .title a {
  color:rgba(255,255,255,0.8);
  font-size: 19px;
}

#events .description {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255,255,255,0.7);
}



#events .line{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  margin: 10px 0 10px 0;
  width:100%;
  height:2px;
}

#events .title:hover a{
  text-decoration: underline;
}

@media (max-width: 768px) {

  #events .box{
    height: min-content;
  }
  #events p{
    margin-bottom: 0px;
  }
}

/*------------------------------
 Blog Section
------------------------------*/

#blog {
  background: #222;
  padding:80px 0 40px 0;
}



#blog .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


#blog .blog-title {
  font-size: 32px;
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
}

#blog .small-img{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-top-left-radius:5px ;
  border-top-right-radius: 5px;
}

#blog .box{
  margin:0 auto 30px auto;
  position: relative;
  background: #333;
  width: 90%;
  padding: 20px 2px 15px 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
  text-align: center;
}

#blog .title{
  font-size: 20px;
  font-weight: bold;
  color: rgba(255,255,255,0.87);
  text-align: center;
}

#blog h2{
  color: #ddd;
  font-size: 32px;
  text-align: center;
  clear: both;
  margin: 30px 0 30px 0;
}

#blog h3{
  font-size: 26px;
  text-align: left;
  clear: both;
  margin: 10px 0 10px 0;
  padding: 5px;
}


#blog .content {
  text-align: left;
  line-height: 32px;
  font-size: 19px;
  margin: 0 0 10px 0 ;
  color: rgba(255,255,255,0.7);
}


#blog .date p{
  font-size: 16px;
  text-align: left;
  margin: -10px 0 30px 0;
  color: #ccc;
  font-style: italic;
}

#blog .date i{
  padding-left: 5px;
  color:#ff6122cc;
}

#blog .description p{
  font-size: 18px;
  padding: 30px 0 0 0;
  color: rgba(255,255,255,0.7);
  text-align: left !important;
}

#blog .line{
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  margin: 10px 0 10px 0;
  width:100%;
  height:2px;
}

#blog .author{
  margin:0 0 0 0;
}

#blog .author p{
  text-align: left;
  font-size: 17px;
  font-style: italic;
  color: #ccc;
}

#blog .author img{
  float: left;
  width: 24px; 
  height: 24px;
  border-radius: 50%;
}

#blog a:hover {
  text-decoration:underline;
}

#blog .big-box{
  padding:40px 85px 85px 85px;
  border-radius: 40px;
  margin: 40px 10px 40px 0;
}

#blog .small-box{
  padding:15px;
  height: 240px;
  border-radius: 10px;
  background-color: #333;
  margin: 40px 10px 40px 0;
}


#blog .filterDiv {
  float: left;
  color: #ffffff;
  width: 100%;
  text-align: left;
  display: none;
}

#blog .show {
  display: block;
}

#blog .container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
#blog .btn {
  font-weight: bold;
  float: right;
  width: 60px;
  margin:10px;
  background-color: #ff6122cc;
  color: #eee;
  cursor: pointer;
  padding:0px;
  border-radius: 10px;
}

@media (max-width:768px){
  #blog .btn{
    border-radius: 5px;
    margin: 5px;
    width: 35px;
    font-size: 16px;
    font: normal !important;
  }
  #blog .big-box{
    padding: 0;
  }
  #blog h2{
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#blog .btn:hover {
  background-color: #ddd;
  color: #333;
}

#blog .btn.active {
  background-color: #666;
  color: white;
}

/*------------------------------
gallery Section
------------------------------*/
#g{
  background-color: #bbb;
}
#g .gallery-title{
  font-size: 32px;
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 100px;
}

#g img{
  width: 100%;
  margin: 20px 0 20px 0;
}




/*-------------------------------
 Contact Section
--------------------------------*/

#contact {
  background: #222 ;
  padding: 80px 0 40px 0;
}

#contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

#contact .info {
  color: rgba(255,255,255,0.7);
}

#contact .info a{
  font-size: 18px;
  color: #0087cc;
  transition: all 0.3s ease-in-out;
}

.contact_text{
  text-align: center;
  color: #ccc;
  font-size: 1rem;
}

#contact img{
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 0 50px;
}

#contact .info i {
  padding: 30px 0 20px 5px;
  font-size: 32px;
  color: #ff5722;
}

#contact .info p {
  padding: 15px 0 5px 5px;
  margin: 0;
  line-height: 22px;
  font-size: 18px;
}

@media (max-width:768px){
  #contact img{
    margin-left: 29%;
    margin-top: 25px;
  }
  #contact .info p{
    margin-top: 22px;
  }
}

#contact .info a:hover {
  text-decoration: underline;
}

#contact .social-link {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

#contact .social-link a {
  font-size: 32px;
  color: #ff5722;
  line-height: 1;
  padding: 0 10px 0 0;
  text-align: center;
  width: 42px;
  height: 42px;
}

#contact .social-link a:hover{
  color:rgba(255,255,255,0.9);
}

.contact_icon{
  text-align: center;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding-top: 5px;
  padding-bottom: 2px;
  color:#72726c;
  font-size: 14px;
}

#footer .iiser-logo img{
  display: block;
  width: 130px;
  height: 109px;
  margin-left: auto;
  margin-right: auto;
}

#footer .copyright {
  text-align: center;
  display: block;
  margin-left:20px ;
}

#footer .credits {
  padding-bottom: 5px;
  text-align: center;
  font-size: 13px;
  color: #72726c;
}

#footer a{
  font-weight: 600;
  color: rgba(255,255,255,0.7);
}


#footer  a:hover{
  color:white;
  text-decoration: underline;
}





/*--------------------------------------
#Gallery section
---------------------------------------*/


#gallery {
  background-image: url(../img/gallery-bg.jpg);
  /*filter:blur(6px) ;*/
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 80px 0 0 0;
}

#gallery .section-header .section-description{
  text-align: center ;
  font-size: 18px ;
  font-family: 'Noto Sans', sans-serif;
  color:rgba(255,255,255,0.9) ;
  padding: 0 ;
  margin: 0 ;
}

#gallery .section-header .section-title {
  font-size: 32px;
  color: #ff5722;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

#gallery .section-header .container p{
  text-align: right;
  font-weight: bold;
  font-size: 18px ;
  color:rgba(255,255,255,0.9) ;
  padding-right: 10px;
}

#gallery img{
  margin:0 0 15px 0 ;
  width: 100%;
  border: 10px solid #555;
  border-radius: 5px;
}

#gallery .filterDiv {
color: #ffffff;
width: 100%;
text-align: center;
margin: 2px;
display: none;
overflow: hidden;
}

#gallery .show {
display: block;
}

#gallery .container {
margin-top: 20px;
overflow: hidden;
min-height: 1000px;
}

/* Style the buttons */
#gallery .btn {
border: none;
outline: none;
margin: 5px 5px;
padding: 10px 20px;
font-size: 15px !important;
background-color: rgb(94, 90, 90);
color: #fff;
cursor: pointer;
}

#gallery .btn:hover {
background-color: #bbb;
color: #222;
}

#gallery .btn.active {
background-color: #ddd;
color: #111;
}

#gallery #myBtnContainer{
  text-align: center;
  margin: 10px 0 20px 0;
}

@media(max-width:768px){
  #gallery {
    
  }
}

































#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

